
body{
	background-color: white;
}
#container{
	background:white;
	width: 950px;
	margin: 20px auto;
}

#footer-panel{
	margin: 10px auto;
}
#nav-panel{
    width: 908px;
    margin-top:5px;
    height: 32px;
    padding-left: 42px;
    background-image: url("/static/images/sub_line.jpg");
}

#nav-panel a{
    color: white;
    margin-right: 24px;
    line-height: 32px;
    font-weight: bold;
    text-decoration: none;

    display: block;
    float: left;
}

#nav-panel a.cur{
    color: white;
    line-height: 32px;
    text-align: center;
    height: 32px;
    width: 77px;
    background-image: url("/static/images/c_sub_bg.gif");
}

#content-panel{
	width: 950px;
	margin: 20px auto;
}

.team_score_slide{
	width: 530px;
	margin: 10px auto;
}
.team_score_top{
    height: 36px;
    line-height: 36px;
    background-image: url("/static/images/right_slider_top.gif");
}

.team_score_body{
    height: auto;
    background-image: url("/static/images/right_slider_bg.gif");
}
.team_score_body table.score_list{
	width: 510px;
	margin: 0 auto;
}
.team_score_body table.score_list td{
    line-height: 24px;
    text-align: center;
    color: #6E812A;
    border-right: 1px solid  #5b0000;
    border-bottom: 1px solid #5b0000;
    height: 24px;
    background-color: #d3de9c;
	font-size: 12px;
}
.team_score_body table.score_list tr.head td{
    background-color: #c2d278;
    color:#6E812A;
    font-weight: bold;
}
.team_score_body table.score_list tr.line1 td{

    background-color: #edf2d7;
}
.team_score_body table.score_list td.score{
    font-family: "verdana";
    font-weight: normal;
}
.team_score_body table.score_list td.team{
    font-weight: normal;

}
.team_score_bottom{
    height: 31px;
    background-image: url("/static/images/right_slider_bottom.gif");
}

.left_slide{
    width: 530px;
    height: auto;
    margin: 10px auto;

}

.left_border_top{
    height: 32px;
    line-height: 32px;
    background-image: url("/static/images/right_slider_top.gif");
}


.left_border_top span{
    margin-left: 16px;
    margin-top: 8px;
    display: block;
    width: 80%;
    line-height: 24px;
    color:#6E812A;
    font-weight: bold;
}
.left_border_top a{
		margin-right:12px;
}

.left_border_top a.selmenu{
		color:black;
}

.left_border_body{
    height: auto;
    background-image: url("/static/images/right_slider_bg.gif");
}
.left_border_body table{
	width:510px;
    margin-left: 10px;
    color: #6E812A;
    border: 0;
}
.left_border_body table td{
    line-height: 20px;
    text-align: center;
    border-right: 1px solid  #5b0000;
    border-bottom: 1px solid #5b0000;
    height: 20px;
    background-color: #edf2d7;
}

.left_border_body table td a{
	text-decoration: none;
	display: block;
	color: gray;
}
.left_border_body table td a:hover{
	color: purple;
}
.left_border_body table tr.line1 td{
    background-color: #d3de9c;
}

.left_border_body table td.team{
    width: 130px;

}
.left_border_body table td.score{
    width: 70px;
    font-family: "verdana";
    font-size: 12px;

}
.left_border_body table.player_sort td.score{
    width: 50px;
    font-family: "verdana";
    font-size: 12px;
    font-weight: normal;
}
.left_border_body table.player_sort td.player{
    width: 90px;
    font-size: 12px;
    font-weight: normal;
}
.left_border_body table.player_sort td.team{
    width: 90px;
    font-size: 12px;
    font-weight: normal;
}
.left_border_body table.team_sort td.score{
    width: 50px;
    font-family: "verdana";
    font-size: 12px;
    font-weight: normal;
}

.left_border_body table.team_sort td.team{
    width: 180px;
    font-size: 12px;
    font-weight: normal;
}
.left_border_bottom{
    height: 26px;
    background-image: url("/static/images/right_slider_bottom.gif");
}

.update_form_panel{
	margin-left: 150px;
}
