
body{
	background-color: black;
}
#container{
	background:white;
	width: 950px;
	height: 1000px;
	margin: 20px auto;
}
#nav-panel{
    width: 908px;
    margin-top:5px;
    height: 32px;
    padding-left: 42px;
    background-image: url("/static/images/sub_line.jpg");
}

#nav-panel a{
    color: white;
    margin-right: 24px;
    line-height: 32px;
    font-weight: bold;
    text-decoration: none;

    display: block;
    float: left;
}

#nav-panel a.cur{
    color: white;
    line-height: 32px;
    text-align: center;
    height: 32px;
    width: 77px;
    background-image: url("/static/images/c_sub_bg.gif");
}

.right_border_top{
    width: 530px;
    height: 36px;
    line-height: 36px;
    background-image: url("/static/images/right_slider_top.gif");
}

.right_border_body{
	margin: 50px auto;
    width: 530px;
    height: auto;
    background-image: url("/static/images/right_slider_bg.gif");
}
.right_border_body table.score_list{
    width: 510px;
    margin-left: 11px;
}
.right_border_body table.score_list td{
    line-height: 24px;
    text-align: center;
    color: #6E812A;
    border-right: 1px solid  #5b0000;
    border-bottom: 1px solid #5b0000;
    height: 24px;
    background-color: #d3de9c;
}
.right_border_body table.score_list tr.head td{

    background-color: #c2d278;
    color:#6E812A;
}
.right_border_body table.score_list tr.line1 td{

    background-color: #edf2d7;
}
.right_border_body table.score_list td.score{
    font-family: "verdana";
    width: 50px;
    font-weight: bold;
}
.right_border_body table.score_list td.team{
    width: 100px;
    font-weight: bold;

}
.right_border_bottom{
    width: 530px;
    height: 31px;
    background-image: url("/static/images/right_slider_bottom.gif");
}