{%extends "base.html"%}
{%block title%}Ranking | Results{%endblock%}

{%block content%}
<div class="team_score_slide">
<div class="team_score_top">&nbsp;</div>
<div class="team_score_body">

	<table border="0" cellpadding="0" cellspacing="0" class="score_list">
	    <tr class="head">
	        <td class="score" >
	            Rank</td>
	        <td class="score" >
	            Team</td>
	        <td class="score" >
	            Matches</td>
	        <td class="score" >
	            Won</td>
	        <td class="score" >
	            Draw</td>
	        <td class="score" >
	            Lost</td>
	        <td class="score" >
	            Goal</td>
	        <td class="score" >
	            Conceded</td>
	        <td class="score" >
	            Goal Difference</td>
	        <td class="score"  style="border-right:0;">
	            Score</td>
	    </tr>
	   	{%for team in teams%}
	   	<tr>
	        <td class="score" >
	            {{forloop.counter}}</td>
	        <td class="team" >
	            {{team.name}}</td>
	        <td class="score" >
	            {{team.matches}}</td>
	        <td class="score" >
	            {{team.won}}</td>
	        <td class="score" >
	            {{team.draw}}</td>
	        <td class="score" >
	            {{team.lost}}</td>
	        <td class="score" >
	            {{team.goal}}</td>
	        <td class="score" >
	            {{team.conceded}}</td>
	        <td class="score" >
	            {{team.goal_diff}}</td>
	        <td class="score"  style="border-right:0;">
	         	{{team.score}}</td>
	    </tr>
	   	{%endfor%}
	</table>
	
</div>
<div class="team_score_bottom">&nbsp;</div>
</div>
 <div class="left_slide">
   <div class="left_border_top">&nbsp;</div>
   <div class="left_border_body">
<!--DataBlock2 Start-->
       <table cellpadding="0" cellspacing="0">
       	{%for match in matches%}
           <tr>
               <td class="team">{{match.host.name}}</td>
               <td class="team">
               {%if match.finished%}{{match.host_score}}:{{match.visitor_score}}{%endif%}
               {%if not match.finished%}VS{%endif%}
               </td>
               <td class="team">{{match.visitor.name}}</td>
               <td class="team">Round {{match.round}}</td>
               <td class="team" style="border-right:0;">
               {%if not match.finished and request.user.is_staff%}
               <a href="{%url ranking.views.update match.id%}">Update</a>
               {%endif%}
               {%if match.finished%}
               Finished
               {%endif%}
               </td>
           </tr>
        {%endfor%}
       </table>
<!--DataBlock2 End-->
   </div>
   <div class="left_border_bottom">&nbsp;</div>

</div>
{%endblock%}